         @media screen and (max-width: 412px) {
         * {
             margin: auto;
             padding: 0;
             box-sizing: border-box;
         }
         ul {
             color: whitesmoke;
             list-style-type: none;
             display: flex;
             flex-direction: column;
             margin-bottom: 1px;
         }
         .container {
             display: grid;
             height: auto;
             grid-template-columns: 225px 225px 225px 225px;
             grid-template-rows: 62px 150px 150px 50px;
             align-content: space-evenly;
             grid-template-areas: 'header header header header'' features features features blogHome'' content content content blogHome''footer footer footer footer';
         }
         .imgf {
             display: grid;
             flex-wrap: wrap;
             padding: 0 4px;
         }
         .header {
             grid-area: header;
             background-color: mediumvioletred;
             color: blanchedalmond;
         }
         .pix {
             display: flex;
             flex-direction: row;
             flex-wrap: wrap;
             padding: 0 4px;
         }
         .feature {
             grid-area: features;
             color: whitesmoke;
             background-color: aquamarine;
             display: flex;
             flex: 50%;
             direction: row;
             max-width: auto%;
             padding: 0 4px;
         }
         .blogHome {
             grid-area: blogHome;
             display: grid;
             direction: column;
             color: navy;
             background-color: mediumvioletred;
             padding: 10px;
             justify-content: flex-start;
         }
         .contentM {
             display: flex;
             flex-direction: row;
             flex-wrap: wrap;
             padding: 0 4px;
         }
         .content {
             grid-area: content;
             background-color: aquamarine;
             color: navy;
         }
         .footer {
             grid-area: footer;
             background-color: mediumvioletred;
             color: blanchedalmond;
         }
         .MyInfo {
             background-color: mediumvioletred;
             text-size-adjust: AUTO;
             color: whitesmoke;
             margin-left: auto;
             padding-left: auto;
             text-align: center;
         }
         img1 {
             display: flex;
             flex-direction: row;
             width: 50%;
             height: 25%;
         }
         img2 {
             display: flex;
             flex-direction: column;
             width: 25%;
             height: 25%;
             text-align: center;
         }
         img3 {
             width: auto;
             height: auto;
         }
         h2 {
             color: mediumblue;
         }