@media screen and (min-width: 769px) {
    * {
        box-sizing: border-box;
    }
    .container {
        display: grid;
        row-gap: 2px;
        flex-direction: row-reverse;
        background-color: antiquewhite;
        grid-template-columns: minmax (min-content, 1300PX 4);
        grid-template-rows: max-content max-content max-content max-content;
        grid-template-areas: 'header header header header''features features features blogHome''content content content blogHome''Footer Footer Footer Footer ';
    }
    .pix {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 4px;
        row-gap: 10px;
        column-gap: 4px;
        margin-top: 10px;
        back
    }
    .header {
        margin-top: 10px;
        grid-area: header;
        color: whitesmoke;
        background-color: rgb(157, 20, 105);
        border: 1px solid gray;
        padding: 10px;
        box-shadow: 5px 10px;
    }
    h1 {
        display: flex;
        text-align: center;
        color: whitesmoke;
        background-color: rgb(157, 20, 105);
        margin-bottom: 1px;
        margin-top: 1px;
        margin-right: 1px;
    }
    h2 {
        color: whitesmoke;
        justify-content: space-evenly;
        margin-top: 4px;
    }
    h4 {
        display: flow-root;
        text-align: center;
    }
    ul {
        color: whitesmoke;
        list-style: none;
        padding: auto;
        background-color: mediumaquamarine;
        margin-bottom: 0px;
    }
    .feature {
        grid-area: features;
        display: flex;
        color: whitesmoke;
        background-color: mediumaquamarine;
        flex: 100%;
        direction: row;
        max-width: auto;
        padding: 0 4px;
        row-gap: 2px;
        margin-left: 5px;
        margin-right: 10px;
        margin-top: 5px;
    }
    #img1 {
        display: flex;
        flex-direction: row;
        width: 200px;
        height: 200px;
        text-align: center;
        padding: 10px;
        border: solid white;
        margin-left: 75px;
        background-color: navajowhite;
    }
    #img2 {
        display: flex;
        flex-direction: row;
        width: 200px;
        height: 200px;
        text-align: center;
        padding: 10px;
        border: solid white;
        margin-left: 75px;
        background-color: navajowhite;
    }
    #img3 {
        display: flex;
        flex-direction: row;
        width: 200px;
        height: 200px;
        text-align: center;
        padding: 10px;
        border: solid white;
        margin-left: 50px;
        background-color: navajowhite;
    }
    .img3 {
        grid-area: feature;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        text-align: center;
        margin-left: 60px;
        padding: 50px;
        border: solid white;
        margin-bottom: -10px;
        background-color: navajowhite;
        margin-bottom: 155px;
    }
    #img4 {
        grid-area: feature;
        display: flex;
        flex-direction: row;
        width: 240px;
        height: 200px;
        text-align: center;
        padding: 10px;
        border: solid white;
        background-color: navajowhite;
    }
    .img5 {
        display: flex;
        flex-direction: row;
        width: 200px;
        height: 200px;
        text-align: center;
        padding: 10px;
        border: solid white;
        margin-left: 150px;
        background-color: navajowhite;
    }
    .blogHomeM {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 4px;
        row-gap: 10px;
        column-gap: 4px;
    }
    .blogHome {
        grid-area: blogHome;
        display: grid;
        direction: column;
        color: white;
        background-color: gray;
        padding: 10px;
        justify-content: space-evenly;
    }
    .content {
        grid-area: content;
        background-color: mediumaquamarine;
        color: whitesmoke;
        row-gap: 2px;
    }
    .footer {
        grid-area: footer;
        grid-row: auto;
        background-color: rgb(157, 20, 105);
        color: blanchedalmond;
        margin-top: 2px;
        row-gap: 2px;
    }
    .SocialMediaLinks {
        background-color: mediumpurple;
        text-align: left;
        color: whitesmoke;
    }
    .MyInfo {
        background-color: mediumpurple;
        text-size-adjust: AUTO;
        color: whitesmoke;
        margin-left: 10px;
        padding-left: 12px;
        text-align: center;
        border-image: auto;
    }
    .socies {
        list-style: none;
        text-align: center;
        color: whitesmoke;
    }
    h2 {
        color: mediumblue;
    }
    .firstpostpageheader {
        color: navajowhite;
        background-color: rgb(157, 20, 105);
        margin-bottom: -15px;
    }
    title {
        text-decoration: underline;
        font-weight: bold;
        font-style: italic;
        color: azure;
        font-size: larger;
    }
    blockquote {
        text-align: auto;
    }
    figcaption,
    button {
        margin-left: 75px;
    }
    #figCap {
        margin-left: 180px;
    }
    #figCap2 {
        margin-left: 380px;
        margin-bottom: auto;
        color: whitesmoke;
    }
    .home {
        background-color: black;
    }
}